<div class="container">
  <div id="examples" class="row">
    <h2>Examples</h2>
    <div class="span-one-third">
      <div class="laurel">
        <%= image_tag "leaves-icon.png", :width => 100, :height => 100 %>
        <h3>Leaves</h3>
        <p>
          Contact Manager
        </p>
        <%= link_to "GET started", root_url(:subdomain => 'leaves'), :class => "btn" %>
      </div>
    </div>
    <div class="span-one-third">
      <div class="laurel">
        <%= image_tag "olive-icon.png", :width => 100, :height => 100 %>
        <h3>Olive</h3>
        <p>
          Cocktail Library
        </p>
        <a href="#" class="btn disabled">Coming Soon</a>
      </div>
    </div>
    <div class="span-one-third">
      <div class="laurel">
        <%= image_tag "grapes-icon.png", :width => 100, :height => 100 %>
        <h3>Grapevine</h3>
        <p>
          Social Network
        </p>
        <a href="#" class="btn disabled">Coming Soon</a>
      </div>
    </div>
  </div>
  <div id="contribute" class="row">
    <h2>Contribute</h2>
    <div class="span8">
      <p>
        A <span class="logo">laurel</span> is a web service meant
        to demonstrate and teach particular aspects of RESTful
        architecture. You can write your own RESTful web service
        and submit it to this site.
      </p>
      <p>
        Though pragmatism is valued in each laurel (as
        demonstrated in the requirement for a JSON parseable
        response), it is not the goal of the <span
          class="logo">Laurels</span> project. It is <em>REST by
          example</em>. It is beneficial to know the limitations of
        clients consuming RESTful services. Browsers, JavaScript
        frameworks, and HTTP libraries all have quirks. <span
          class="logo">Laurels</span> can help highlight these
        shortcomings by providing real, working RESTful web
        services.
      </p>
      <a href="#" class="btn large primary">Submit Your Laurel</a>
    </div>
    <div class="span8">
      <ul>
        <li>Should be focused on a single problem</li>
        <li>Must be HTTP-based and implement correct headers, verbs, and response codes</li>
        <li>Must accept requests for <code>application/json</code> or any JSON vendor subset</li>
        <li>May accept requests for other MIME types</li>
        <li>Should not require any form of authentication unless it is to demonstrate an aspect of REST</li>
        <li>Must provide API documentation consisting of:
          <ul>
            <li>general description of the service</li>
            <li>an entry URI</li>
            <li>acceptable media type(s)</li>
            <li>a list of resource types</li>
            <li>a list of relation definitions</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
