<div id="leaves" class="first container">
  <h1 class="leaves-logo">Leaves <small>Contact Manager</small></h1>
  <div class="row">
    <ul class="tabs" data-tabs="tabs">
      <li class="active"><a href="#console">HTTP Console</a></li>
      <li><a href="#documentation">Documentation</a></li>
      <li><a href="#exercises">Exercises</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div id="console" class="active http-console">
    </div>

    <div id="documentation">
      <h2>Documentation</h2>
      <div class="row">
        <div class="span8">
          <h3>Entry Point</h3>
          <p>↳ http://leaves.laurels.com/ <button class="btn small primary">Launch HTTP console &raquo;</button></p>
        </div>

        <div class="span8">
          <h3>Media Type</h3>
          <p>application/vnd.laurels.leaves+json</p>
        </div>
      </div>

      <div class="row">
        <div class="span8">
          <h3>Resources</h3>
          <table>
            <thead>
              <tr>
                <th>Resource</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>contacts</td>
                <td>All the contacts stored in Leaves</td>
              </tr>
              <tr>
                <td>contact</td>
                <td>An individual contact</td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>

        <div class="span8">
          <h3>Link Relations</h3>
          <table>
            <thead>
              <tr>
                <th><code>rel</code></th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="/rels/map">/rels/map</a></td>
                <td>A map of a contact's address</td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
      </div>
    </div>

    <div id="exercises" class="row">
      <div class="span16">
        <h2>Exercises</h2>
        <h3>Create a Contact</h3>
        <ol>
          <li>Find the link specifying the contacts resource</li>
          <li>Determine the correct HTTP method to create a new contact</li>
          <li>
            Send the following parameters along with your request:
            <dl>
              <dt>Name</dt>
              <dd>Roy Fielding</dd>
              <dt>Email</dt>
              <dd>not.actually.roys.email@laurels.com</dd>
            </dl>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
