<h1><span class="logo">Laurels</span><br /><small>REST by example</small></h1>
<ul class="media-grid">
  <li>
    <%= link_to asset_path("landing.png"), :rel => "lightbox-examples" do %>
      <%= image_tag asset_path("landing-thumb.png"), :width => 150, :height => 90 %>
    <% end %>
  </li>
  <li>
    <%= link_to asset_path("http-console-1.png"), :rel => "lightbox-examples" do %>
      <%= image_tag asset_path("http-console-1-thumb.png"), :width => 150, :height => 90 %>
    <% end %>
  </li>
  <li>
    <%= link_to asset_path("http-console-2.png"), :rel => "lightbox-examples" do %>
      <%= image_tag asset_path("http-console-2-thumb.png"), :width => 150, :height => 90 %>
    <% end %>
  </li>
</ul>
<form id="email-form" target="form-handler" action="https://docs.google.com/spreadsheet/formResponse?formkey=dEhWZ2xUcjN1WVhLZGFnbmo0NEZ3bXc6MQ" method="POST">
  <h2>
    Get invited to participate in Laurels
  </h2>
  <input type="email" name="entry.0.single" placeholder="your@email.com" />
  <input type="submit" name="submit" class="btn success" value="submit" />
</form>
<div id="email-form-success" style="display:none;">
  <div class="alert-message notice">
    <p><strong>Thanks for your interest!</strong> <a href="https://twitter.com/laurelsapp">Follow @laurelsapp</a> to learn more.</p>
  </div>
  <a href="https://twitter.com/laurelsapp" class="twitter-follow-button" data-show-count="false" data-align="center" data-width="175px">Follow @laurelsapp</a>
  <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>
<iframe id="form-handler" name="form-handler" style="width:0px; height:0px; border:0px;"></iframe>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
  (function($) {
   $(function() {
     $('#email-form').submit(function(evt) {
       $(this).hide();
       $('#email-form-success').show();
       });
     });
   })(jQuery);
</script>
