<p class="http-response-line">
  HTTP/1.1 <%= status %>
  <% if ( statusCode >= 100 && statusCode < 200 ) { %>
    <span class="label notice status-label informational" title="Informational" data-content="The server received the request, but isn't telling you anything about the process.">informational</span>
  <% } else if ( statusCode >= 200 && statusCode < 300 ) { %>
    <span class="label status-label success" title="Success" data-content="The server received the request and processed it successfully.">success</span>
  <% } else if ( statusCode >= 300 && statusCode < 400 ) { %>
    <span class="label notice status-label redirection" title="Redirection" data-content="You need to take additional action to complete your request.">redirection</span>
  <% } else if ( statusCode >= 400 && statusCode < 500 ) { %>
    <span class="label warning status-label client-error" title="Client Error" data-content="Something in the request was structured incorrectly">client error</span>
  <% } else if ( statusCode >= 500 ) { %>
    <span class="label important status-label server-error" title="Server Error" data-content="The server encountered an error while processing a correctly formatted request. This is not the client's fault.">server error</span>
  <% } %>
</p>
<div class="body">
  <pre class="prettyprint"><%= body %></pre>
</div>
