<div class="row">
  <div class="span16">
    <h2>HTTP Console</h2>
    <h3>Request History</h3>
    <div class="http-request-history">
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <h3>Request <small><a class="new-request" href="#">create new request</a></small></h3>
    <div class="http-console-request">
    </div>
  </div>

  <div class="span8">
    <h3>Response</h3>
    <div class="http-console-response">
    </div>
  </div>
</div>
