<thead>
  <tr>
    <th>Header</th>
    <th>Value</th>
  </tr>
</thead>
<tbody>
</tbody>
<tfoot>
  <tr>
    <td>
      <select class="autosuggest medium new-http-request-header-name">
        <% _.each(HTTPHeaders.requestHeaders, function(header) { %>
          <option><%= header.name %></option>
        <% }); %>
      </select>
      <span class="help-block small">
      </span>
    </td>
    <td>
      <input type="text" class="new-http-request-header-value" />
      <button class="btn primary small add-header">add</button>
      <span class="help-block medium">
      </span>
    </td>
  </tr>
</tfoot>
