<td class="http-header-name" title="<%= name %>"><%= name %></td>
<td class="http-header-value">
  <%= value %>
  <% if ( isEditable ) { %>
    <div style="float: right">
      <button class="btn small remove-header">remove</button>
    </div>
  <% } %>
</td>
