<p class="http-request-line">
  <select class="small http-request-verb" name="console[method]">
    <% _.each(HTTPRequest.verbs,function(method) { %>
      <option><%= method %></option>
    <% }); %>
  </select>
  <input type="text" class="medium http-request-location" name="console[location]" value="/" />
  HTTP/1.1
  <span class="label verb-label safe" title="Safe" data-content="Requests using safe methods will not change server state.">safe</span>
  <span class="label notice verb-label idempotent" title="Idempotent" data-content="Requests using idempotent methods may change server state, but must always return the same response given the same request.">idempotent</span>
</p>
<p>
  <textarea class="xlarge http-request-body" placeholder="Request Body"></textarea>
</p>
<div class="actions">
  <input class="btn success send-request" type="submit" value="submit" name="commit" />
  <button type="reset" class="btn reset-request">reset</button>
</div>
