$offwhite: #f5f2e1;

@mixin fancy-font {
  font-family: "Pacifico", cursive;
}

@mixin fancy-header($fontsize: 18px) {
  @include fancy-font;
  font-size: $fontsize;
  line-height: $fontsize*2;
  font-weight: normal;
}

.logo {
  font-family: "Pacifico", cursive;
}

.topbar .brand {
  font-family: "Pacifico", cursive;
  padding-bottom: 10px;
  padding-left: 34px;
  background: transparent image-url("laurels-logo.png") no-repeat 0 6px;
}

.first.container { padding-top: 50px; }
.masthead {
  background: $offwhite image-url("laurels-large-transparent.png") no-repeat 50% 50%;
  padding: 50px 0;
  position: fixed;
  width: 100%;
  height: 200px;
  text-align: center;
  h1 {
    font-size: 72px;
    line-height: 108px;
    small {
      font-size: 36px;
      line-height: 54px;
    }
  }
  ul li {
    font-size: 18px;
    line-height: 24px;
  }
}

#examples, #contribute { margin-top: 20px; }

.laurel {
  img {
    float: left;
    margin-right: 10px;
  }
  margin-bottom: 10px;
}

#content {
  position: absolute;
  background-color: white;
  z-index: 10;
  top: 300px;
  width: 100%;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -12px 0 12px rgba(0, 0, 0, 0.3);
}

footer {
  clear: both;
  float: left;
  margin-top: 80px;
  padding: 80px 0 200px 0;
  width: 100%;
  color: white;
  background: #4a9a24;
  background-image: image-url("green-texture.jpg");
  a, a:link, a:visited, a:active, a:hover {
    color: white;
    font-weight: normal;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  dl dt { @include fancy-header(24px); }
}

.leaves-logo {
  background: transparent image-url("leaves-icon.png") no-repeat;
  padding-left: 110px;
  font-size: 72px;
  line-height: 108px;
}

.help-block.small {
  width: 150px;
}

.help-block.medium {
  width: 260px;
}

.label.clickable:hover {
  cursor: pointer;
}
