<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <dl>
          <dt>Laurels</dt>
          <dd><%= link_to "Leaves", root_url(:subdomain => "leaves") %></dd>
          <dd><a href="#">Olive (Coming Soon)</a></dd>
          <dd><a href="#">Grapevine (Coming Soon)</a></dd>
        </dl>
      </div>
      <div class="span6 offset1">
        <dl>
          <dt>Papers</dt>
          <dd><%=link_to "Architectural Styles and the Design of Network-based Software Architectures".html_safe, "http://www.ics.uci.edu/~fielding/pubs/dissertation/top.htm" %></dd>
        </dl>
        <dl>
          <dt>People</dt>
          <dd><%=link_to "amundsen.com", "http://www.amundsen.com" %></dd>
          <dd><%=link_to "subbu.org", "http://www.subbu.org" %></dd>
          <dd><%=link_to "iansrobinson.com", "http://iansrobinson.com" %></dd>
          <dd><%=link_to "jim.webber.name", "http://jim.webber.name" %></dd>
        </dl>
        <dl>
          <dt>Books</dt>
          <dd><%=link_to "REST in Practice", "http://restinpractice.com/default.aspx" %></dd>
          <dd><%=link_to "Get Some REST (Coming Soon)", "http://getsomere.st/" %></dd>
          <dd><%=link_to "RESTful Web Services", "http://shop.oreilly.com/product/9780596529260.do" %></dd>
          <dd><%=link_to "RESTful Web Services Cookbook", "http://shop.oreilly.com/product/9780596801694.do" %></dd>
        </dl>
      </div>
      <div class="span5 offset1">
        <dl>
          <dt>Contribute</dt>
          <dd><a href="http://github.com/scudco/laurels">Fork on GitHub</a></dd>
          <dd>
            <a href="https://twitter.com/laurelsapp" class="twitter-follow-button" data-show-count="false" data-link-color="#FFFFFF">Follow @laurelsapp</a>
          </dd>
        </dl>
        <dl>
          <dt>Legal Nonsense</dt>
          <dd>
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</footer>
<%= javascript_include_tag "application" %>
<script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
<%= render 'layouts/google_analytics' %>
