<meta charset="utf-8" />
<title>Laurels</title>
<%= favicon_link_tag %>
<link href="//fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag "application" %>
<%= csrf_meta_tags %>
