<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="span16">
        <h1>Laurels <small>REST by example</small></h1>
        <ul class="unstyled">
          <li>Explore working APIs</li>
          <li>Demystify HTTP and hypermedia</li>
          <li>Learn how to create RESTful clients</li>
        </ul>
      </div>
    </div>
  </div>
</div>
