<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <%= link_to "Laurels", landing_url(:subdomain => false), :class => 'brand' %>
      <ul class="nav">
        <li><%= link_to "Examples", root_path(:anchor => "examples") %></li>
        <li><%= link_to "Contribute", root_path(:anchor => "contribute") %></li>
      </ul>
    </div>
  </div>
</div>
