<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="An tool to teach the concepts of REST through a series of API exercises." />
    <title>Laurels - REST by Example</title>
    <%= favicon_link_tag %>
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="/slimbox/css/slimbox2.css">
    <style>
      html {
        background: #f5f2e1 url(<%= asset_path('laurels-large-transparent.png') %>) no-repeat 50% 50px;
      }

      body {
        height: 100%;
        background-color: transparent;
      }

      .logo {
        font-family: "Pacifico", cursive;
      }

      .marketing {
        width: 520px;
        margin: 280px auto;
        text-align: center;
      }

      .marketing h1 {
        font-size: 72px;
        line-height: 36px;
      }

      .marketing h1 small {
        font-size: 24px;
        line-height: 36px;
      }

      .marketing #email-form-success {
        width: 400px;
        margin: 30px auto;
      }
    </style>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="marketing">
      <%= yield %>
    </div>
    <%= render 'layouts/google_analytics' %>
    <script src="/slimbox/js/slimbox2.js"></script>
  </body>
</html>
