<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>

    <%= render "layouts/topbar" %>
    <%= render "layouts/masthead" %>
    <div id="content">
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>

  </body>
</html>
